<div class="box">
  <h1>{{title}}</h1>

  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Locale</div>
      <div class="dx-field-value">
        <dx-text-box
          [(value)]="currentLocale"
          placeholder="password"
          stylingMode="filled">
          <dxi-button name="today" location="after" [options]="applyButton"></dxi-button>
        </dx-text-box>
      </div>
    </div>

    <div *ngIf="!isLocaleApplying" class="dx-field">
      <div class="dx-field-label">Short date format</div>
      <div class="dx-field-value">
        <dx-date-box [showClearButton]="true"
                     [(value)]="date"
                     [useMaskBehavior]="true"
                     [displayFormat]="format">
        </dx-date-box>
      </div>
    </div>
  </div>
</div>
